##Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import tensorflow as tf

##Loading Data

In [2]:
data_train = pd.read_csv('/content/titanic train.csv')
data_test = pd.read_csv('/content/titanic test.csv')
y_data_test = pd.read_csv('/content/gender_submission.csv')

In [3]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Preprocessing data

In [5]:
data_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
data_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
data_train['Age'] = data_train['Age'].groupby([data_train['Pclass'], data_train['Sex']]).apply(lambda x: x.fillna(x.mean()))
data_train.dropna(subset=['Embarked'],how='any',inplace=True)
data_train['Cabin']=data_train['Cabin'].fillna('Unknown')

In [8]:
data_test['Age'] = data_test['Age'].groupby([data_test['Pclass'], data_test['Sex']]).apply(lambda x: x.fillna(x.mean()))
data_test['Cabin']=data_test['Cabin'].fillna('Unknown')

In [9]:
data_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [10]:
data_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [11]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [12]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
y_data_test.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [14]:
x_train = data_train.iloc[:,[2,4,5,6,7,9,11]].values
y_train = data_train.iloc[:,1].values

In [15]:
x_test = data_test.iloc[:,[1,3,4,5,6,8,10]].values
y_test = y_data_test.iloc[:,1].values

In [16]:
x_test

array([[3, 'male', 34.5, ..., 0, 7.8292, 'Q'],
       [3, 'female', 47.0, ..., 0, 7.0, 'S'],
       [2, 'male', 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 'male', 38.5, ..., 0, 7.25, 'S'],
       [3, 'male', 24.525104166666665, ..., 0, 8.05, 'S'],
       [3, 'male', 24.525104166666665, ..., 1, 22.3583, 'C']],
      dtype=object)

In [17]:
x_train

array([[3, 'male', 22.0, ..., 0, 7.25, 'S'],
       [1, 'female', 38.0, ..., 0, 71.2833, 'C'],
       [3, 'female', 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 'female', 21.75, ..., 2, 23.45, 'S'],
       [1, 'male', 26.0, ..., 0, 30.0, 'C'],
       [3, 'male', 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_train[:, 1] = le.fit_transform(x_train[:, 1])
x_test[:, 1] = le.transform(x_test[:, 1])

In [19]:
x_train

array([[3, 1, 22.0, ..., 0, 7.25, 'S'],
       [1, 0, 38.0, ..., 0, 71.2833, 'C'],
       [3, 0, 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 0, 21.75, ..., 2, 23.45, 'S'],
       [1, 1, 26.0, ..., 0, 30.0, 'C'],
       [3, 1, 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [20]:
x_test

array([[3, 1, 34.5, ..., 0, 7.8292, 'Q'],
       [3, 0, 47.0, ..., 0, 7.0, 'S'],
       [2, 1, 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 1, 38.5, ..., 0, 7.25, 'S'],
       [3, 1, 24.525104166666665, ..., 0, 8.05, 'S'],
       [3, 1, 24.525104166666665, ..., 1, 22.3583, 'C']], dtype=object)

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(handle_unknown='ignore'), [0,3,4,6])], remainder='passthrough')
x_train_trans = np.array(ct.fit_transform(x_train))
x_test_trans = np.array(ct.transform(x_test))

In [22]:
x_train_trans.shape

(889, 23)

In [23]:
x_test_trans.shape

(418, 23)

## Feature Scaling

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train_trans)
x_test_sc = sc.transform(x_test_trans)

##Building the ANN

In [25]:
ann = tf.keras.models.Sequential()

In [26]:
ann.add(tf.keras.layers.Dense(units=7, activation='relu'))

In [27]:
ann.add(tf.keras.layers.Dense(units=7, activation='relu'))

In [28]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [29]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [30]:
ann.fit(x_train_sc, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
28/28 [==============================] - 1s 2ms/step - loss: 0.7179 - accuracy: 0.5489
Epoch 2/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6842 - accuracy: 0.5939
Epoch 3/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6595 - accuracy: 0.6400
Epoch 4/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6334 - accuracy: 0.6963
Epoch 5/100
28/28 [==============================] - 0s 3ms/step - loss: 0.6053 - accuracy: 0.7537
Epoch 6/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5766 - accuracy: 0.7728
Epoch 7/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5474 - accuracy: 0.7818
Epoch 8/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5224 - accuracy: 0.7885
Epoch 9/100
28/28 [==============================] - 0s 5ms/step - loss: 0.5018 - accuracy: 0.7942
Epoch 10/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4865 - accuracy: 0.8020
Epoch 11/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4753 - accuracy: 0.8043
Epoch 12/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4668 - accuracy: 0.8065
Epoch 13/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4592 - accuracy: 0.8099
Epoch 14/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4531 - accuracy: 0.8121
Epoch 15/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4479 - accuracy: 0.8144
Epoch 16/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4432 - accuracy: 0.8166
Epoch 17/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4394 - accuracy: 0.8166
Epoch 18/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4359 - accuracy: 0.8155
Epoch 19/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4325 - accuracy: 0.8166
Epoch 20/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4299 - accuracy: 0.8189
Epoch 21/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4273 - accuracy: 0.8144
Epoch 22/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4246 - accuracy: 0.8155
Epoch 23/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4228 - accuracy: 0.8189
Epoch 24/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4216 - accuracy: 0.8200
Epoch 25/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4193 - accuracy: 0.8166
Epoch 26/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4176 - accuracy: 0.8178
Epoch 27/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4156 - accuracy: 0.8166
Epoch 28/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4140 - accuracy: 0.8189
Epoch 29/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4132 - accuracy: 0.8133
Epoch 30/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4116 - accuracy: 0.8166
Epoch 31/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4106 - accuracy: 0.8178
Epoch 32/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4091 - accuracy: 0.8178
Epoch 33/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4077 - accuracy: 0.8178
Epoch 34/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4066 - accuracy: 0.8234
Epoch 35/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8223
Epoch 36/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4052 - accuracy: 0.8211
Epoch 37/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4047 - accuracy: 0.8234
Epoch 38/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4038 - accuracy: 0.8223
Epoch 39/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8245
Epoch 40/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4016 - accuracy: 0.8223
Epoch 41/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4010 - accuracy: 0.8234
Epoch 42/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4001 - accuracy: 0.8268
Epoch 43/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3999 - accuracy: 0.8268
Epoch 44/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4009 - accuracy: 0.8223
Epoch 45/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3990 - accuracy: 0.8245
Epoch 46/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3985 - accuracy: 0.8234
Epoch 47/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3983 - accuracy: 0.8245
Epoch 48/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3971 - accuracy: 0.8256
Epoch 49/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3971 - accuracy: 0.8234
Epoch 50/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3964 - accuracy: 0.8245
Epoch 51/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3952 - accuracy: 0.8234
Epoch 52/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3949 - accuracy: 0.8256
Epoch 53/100
28/28 [==============================] - 0s 8ms/step - loss: 0.3943 - accuracy: 0.8268
Epoch 54/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3948 - accuracy: 0.8245
Epoch 55/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3935 - accuracy: 0.8234
Epoch 56/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3938 - accuracy: 0.8256
Epoch 57/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3927 - accuracy: 0.8256
Epoch 58/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3925 - accuracy: 0.8234
Epoch 59/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3918 - accuracy: 0.8234
Epoch 60/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3917 - accuracy: 0.8211
Epoch 61/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3913 - accuracy: 0.8223
Epoch 62/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3903 - accuracy: 0.8245
Epoch 63/100
28/28 [==============================] - 0s 8ms/step - loss: 0.3907 - accuracy: 0.8223
Epoch 64/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3898 - accuracy: 0.8178
Epoch 65/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3891 - accuracy: 0.8200
Epoch 66/100
28/28 [==============================] - 0s 8ms/step - loss: 0.3896 - accuracy: 0.8211
Epoch 67/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3892 - accuracy: 0.8234
Epoch 68/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3880 - accuracy: 0.8211
Epoch 69/100
28/28 [==============================] - 0s 9ms/step - loss: 0.3879 - accuracy: 0.8211
Epoch 70/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3875 - accuracy: 0.8234
Epoch 71/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3877 - accuracy: 0.8234
Epoch 72/100
28/28 [==============================] - 0s 7ms/step - loss: 0.3867 - accuracy: 0.8189
Epoch 73/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3868 - accuracy: 0.8211
Epoch 74/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3864 - accuracy: 0.8223
Epoch 75/100
28/28 [==============================] - 0s 7ms/step - loss: 0.3863 - accuracy: 0.8234
Epoch 76/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3856 - accuracy: 0.8211
Epoch 77/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3857 - accuracy: 0.8245
Epoch 78/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3853 - accuracy: 0.8223
Epoch 79/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3852 - accuracy: 0.8223
Epoch 80/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3846 - accuracy: 0.8223
Epoch 81/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3845 - accuracy: 0.8245
Epoch 82/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8279
Epoch 83/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3835 - accuracy: 0.8223
Epoch 84/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3839 - accuracy: 0.8256
Epoch 85/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3835 - accuracy: 0.8268
Epoch 86/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3832 - accuracy: 0.8268
Epoch 87/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3831 - accuracy: 0.8245
Epoch 88/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3832 - accuracy: 0.8268
Epoch 89/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3830 - accuracy: 0.8245
Epoch 90/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3832 - accuracy: 0.8313
Epoch 91/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3829 - accuracy: 0.8256
Epoch 92/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3830 - accuracy: 0.8245
Epoch 93/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3825 - accuracy: 0.8290
Epoch 94/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3827 - accuracy: 0.8268
Epoch 95/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3823 - accuracy: 0.8301
Epoch 96/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3816 - accuracy: 0.8313
Epoch 97/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3811 - accuracy: 0.8290
Epoch 98/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3813 - accuracy: 0.8313
Epoch 99/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3810 - accuracy: 0.8313
Epoch 100/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3811 - accuracy: 0.8301

### Predicting the Test set results

In [31]:
y_pred = ann.predict(x_test_sc)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[247  19]
 [ 30 122]]

0.8827751196172249