##Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import tensorflow as tf

##Loading Data

In [ ]:
data_train = pd.read_csv('/content/titanic train.csv')
data_test = pd.read_csv('/content/titanic test.csv')
y_data_test = pd.read_csv('/content/gender_submission.csv')

In [ ]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Preprocessing data

In [ ]:
data_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
data_train['Age'] = data_train['Age'].groupby([data_train['Pclass'], data_train['Sex']]).apply(lambda x: x.fillna(x.mean()))
data_train.dropna(subset=['Embarked'],how='any',inplace=True)
data_train['Cabin']=data_train['Cabin'].fillna('Unknown')

In [ ]:
data_test['Age'] = data_test['Age'].groupby([data_test['Pclass'], data_test['Sex']]).apply(lambda x: x.fillna(x.mean()))
data_test['Cabin']=data_test['Cabin'].fillna('Unknown')

In [ ]:
data_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
data_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [ ]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
y_data_test.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
x_train = data_train.iloc[:,[2,4,5,6,7,9,11]].values
y_train = data_train.iloc[:,1].values

In [ ]:
x_test = data_test.iloc[:,[1,3,4,5,6,8,10]].values
y_test = y_data_test.iloc[:,1].values

In [ ]:
x_test

array([[3, 'male', 34.5, ..., 0, 7.8292, 'Q'],
       [3, 'female', 47.0, ..., 0, 7.0, 'S'],
       [2, 'male', 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 'male', 38.5, ..., 0, 7.25, 'S'],
       [3, 'male', 24.525104166666665, ..., 0, 8.05, 'S'],
       [3, 'male', 24.525104166666665, ..., 1, 22.3583, 'C']],
      dtype=object)

In [ ]:
x_train

array([[3, 'male', 22.0, ..., 0, 7.25, 'S'],
       [1, 'female', 38.0, ..., 0, 71.2833, 'C'],
       [3, 'female', 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 'female', 21.75, ..., 2, 23.45, 'S'],
       [1, 'male', 26.0, ..., 0, 30.0, 'C'],
       [3, 'male', 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_train[:, 1] = le.fit_transform(x_train[:, 1])
x_test[:, 1] = le.transform(x_test[:, 1])

In [ ]:
x_train

array([[3, 1, 22.0, ..., 0, 7.25, 'S'],
       [1, 0, 38.0, ..., 0, 71.2833, 'C'],
       [3, 0, 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 0, 21.75, ..., 2, 23.45, 'S'],
       [1, 1, 26.0, ..., 0, 30.0, 'C'],
       [3, 1, 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [ ]:
x_test

array([[3, 1, 34.5, ..., 0, 7.8292, 'Q'],
       [3, 0, 47.0, ..., 0, 7.0, 'S'],
       [2, 1, 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 1, 38.5, ..., 0, 7.25, 'S'],
       [3, 1, 24.525104166666665, ..., 0, 8.05, 'S'],
       [3, 1, 24.525104166666665, ..., 1, 22.3583, 'C']], dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(handle_unknown='ignore'), [0,3,4,6])], remainder='passthrough')
x_train_trans = np.array(ct.fit_transform(x_train))
x_test_trans = np.array(ct.transform(x_test))

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train_trans)
x_test_sc = sc.transform(x_test_trans)

##Building the ANN

In [ ]:
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=7, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=7, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
ann.fit(x_train_sc, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
28/28 [==============================] - 1s 2ms/step - loss: 0.6407 - accuracy: 0.6265
Epoch 2/100
28/28 [==============================] - 0s 1ms/step - loss: 0.6133 - accuracy: 0.6569
Epoch 3/100
28/28 [==============================] - 0s 1ms/step - loss: 0.5932 - accuracy: 0.6704
Epoch 4/100
28/28 [==============================] - 0s 1ms/step - loss: 0.5761 - accuracy: 0.7019
Epoch 5/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5590 - accuracy: 0.7368
Epoch 6/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5439 - accuracy: 0.7503
Epoch 7/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5296 - accuracy: 0.7525
Epoch 8/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5163 - accuracy: 0.7593
Epoch 9/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5028 - accuracy: 0.7694
Epoch 10/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4911 - accuracy: 0.7773
Epoch 11/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4817 - accuracy: 0.7795
Epoch 12/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4731 - accuracy: 0.7840
Epoch 13/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4660 - accuracy: 0.7885
Epoch 14/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4593 - accuracy: 0.7874
Epoch 15/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4530 - accuracy: 0.8009
Epoch 16/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4473 - accuracy: 0.8054
Epoch 17/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4418 - accuracy: 0.8054
Epoch 18/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.8099
Epoch 19/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4332 - accuracy: 0.8076
Epoch 20/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4289 - accuracy: 0.8110
Epoch 21/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.8110
Epoch 22/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4239 - accuracy: 0.8110
Epoch 23/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4223 - accuracy: 0.8144
Epoch 24/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4204 - accuracy: 0.8144
Epoch 25/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4183 - accuracy: 0.8166
Epoch 26/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4175 - accuracy: 0.8166
Epoch 27/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4153 - accuracy: 0.8155
Epoch 28/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4137 - accuracy: 0.8200
Epoch 29/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4128 - accuracy: 0.8189
Epoch 30/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4115 - accuracy: 0.8189
Epoch 31/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.8211
Epoch 32/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4099 - accuracy: 0.8223
Epoch 33/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4088 - accuracy: 0.8223
Epoch 34/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8245
Epoch 35/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4066 - accuracy: 0.8245
Epoch 36/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8223
Epoch 37/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4049 - accuracy: 0.8256
Epoch 38/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8234
Epoch 39/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4040 - accuracy: 0.8256
Epoch 40/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8268
Epoch 41/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8268
Epoch 42/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4024 - accuracy: 0.8279
Epoch 43/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8290
Epoch 44/100
28/28 [==============================] - 0s 1ms/step - loss: 0.4010 - accuracy: 0.8279
Epoch 45/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8313
Epoch 46/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4002 - accuracy: 0.8256
Epoch 47/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8268
Epoch 48/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3987 - accuracy: 0.8279
Epoch 49/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3981 - accuracy: 0.8279
Epoch 50/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8290
Epoch 51/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3971 - accuracy: 0.8279
Epoch 52/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8301
Epoch 53/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3970 - accuracy: 0.8290
Epoch 54/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3959 - accuracy: 0.8290
Epoch 55/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8290
Epoch 56/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3949 - accuracy: 0.8301
Epoch 57/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3944 - accuracy: 0.8313
Epoch 58/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3944 - accuracy: 0.8301
Epoch 59/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8290
Epoch 60/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3933 - accuracy: 0.8301
Epoch 61/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3933 - accuracy: 0.8279
Epoch 62/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8301
Epoch 63/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3924 - accuracy: 0.8279
Epoch 64/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3918 - accuracy: 0.8324
Epoch 65/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3919 - accuracy: 0.8313
Epoch 66/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3909 - accuracy: 0.8313
Epoch 67/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3909 - accuracy: 0.8335
Epoch 68/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3907 - accuracy: 0.8290
Epoch 69/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3906 - accuracy: 0.8324
Epoch 70/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3900 - accuracy: 0.8346
Epoch 71/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3891 - accuracy: 0.8358
Epoch 72/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3897 - accuracy: 0.8335
Epoch 73/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3886 - accuracy: 0.8335
Epoch 74/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3882 - accuracy: 0.8346
Epoch 75/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3883 - accuracy: 0.8313
Epoch 76/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3877 - accuracy: 0.8335
Epoch 77/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3871 - accuracy: 0.8324
Epoch 78/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.8335
Epoch 79/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3866 - accuracy: 0.8324
Epoch 80/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3863 - accuracy: 0.8358
Epoch 81/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3858 - accuracy: 0.8335
Epoch 82/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3857 - accuracy: 0.8324
Epoch 83/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3851 - accuracy: 0.8335
Epoch 84/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8335
Epoch 85/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3845 - accuracy: 0.8346
Epoch 86/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3837 - accuracy: 0.8369
Epoch 87/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3843 - accuracy: 0.8346
Epoch 88/100
28/28 [==============================] - 0s 3ms/step - loss: 0.3836 - accuracy: 0.8346
Epoch 89/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3832 - accuracy: 0.8391
Epoch 90/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3827 - accuracy: 0.8391
Epoch 91/100
28/28 [==============================] - 0s 1ms/step - loss: 0.3828 - accuracy: 0.8403
Epoch 92/100
28/28 [==============================] - 0s 1ms/step - loss: 0.3820 - accuracy: 0.8369
Epoch 93/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8380
Epoch 94/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8391
Epoch 95/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3807 - accuracy: 0.8380
Epoch 96/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8380
Epoch 97/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3806 - accuracy: 0.8358
Epoch 98/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3804 - accuracy: 0.8346
Epoch 99/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3803 - accuracy: 0.8358
Epoch 100/100
28/28 [==============================] - 0s 2ms/step - loss: 0.3802 - accuracy: 0.8358

### Predicting the Test set results

In [ ]:
y_pred = ann.predict(x_test_sc)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [1 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]]

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[242  24]
 [ 28 124]]

0.8755980861244019

In [ ]:
df = pd.DataFrame(columns=['PassengerId','Survived'])

In [ ]:
df['PassengerId'] = y_data_test['PassengerId']
df['Survived'] = y_pred
df['Survived']=df['Survived'].map({False:0,True:1})

In [ ]:
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [ ]:
df.to_csv('/content/Predicted_survival.csv',index = False)